html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .smaller-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  .full-width {
    width: 100%;
  }
  
  .container-full-width {
    width: 100%;
    padding: 0;
    margin: 0;
  }